<div class="search-result__block mt-3">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th scope="col">Tweet</th>
            <th scope="col">Likes</th>
            <th scope="col">Replies</th>
            <th scope="col">Retweets</th>
            <th scope="col">Hashtags</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tweet of tweets">
            <td class="tweet-column" title="{{tweet.text}}">{{ tweet.text | trimText }}</td>
            <td class="likes-column">{{ tweet.likes || '-' }}</td>
            <td class="replies-column">{{ tweet.replies || '-' }}</td>
            <td class="retweet-column">{{ tweet.retweets || '-' }}</td>
            <td class="hashtags-column">{{ tweet.hashtags | hashtagFilter }}</td>
            <td class="date-column">{{ tweet.date | date: 'mediumDate' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12" *ngIf="tweets.length === 0">
      <p class="text-center">No tweets yet! Lets search.</p>
    </div>
    <div class="col-12">
      <div *ngIf="spinner" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
