<div class="hashtag-view__block mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search by user" aria-label="Search"
                 [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" >
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()">Search</button>
        </form>
      </div>
    </div>

    <app-search-table [tweets]="tweets" [spinner]="isLoading"></app-search-table>

    <app-paggination *ngIf="tweets.length > 0" [paginationInfo]="searchQuery" (getPageFunction)="getPage($event)"></app-paggination>
  </div>

</div>
