<div class="search-pagging mt-3" *ngIf="paginationInfo">
  <div class="row">
    <div class="col-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" *ngIf="paginationInfo.offset !== 0">
            <button class="btn btn-sm page-link"
                    (click)="getPage(paginationInfo.offset - 1)">Previous</button>
          </li>
          <li class="page-item" *ngIf="(paginationInfo.offset - 2) >= 0">
            <button class="btn btn-sm page-link" type="button">{{paginationInfo.offset - 2}}</button>
          </li>
          <li class="page-item" *ngIf="(paginationInfo.offset - 1) >= 0">
            <button class="btn btn-sm page-link" type="button">{{paginationInfo.offset - 1}}</button>
          </li>
          <li class="page-item">
            <button class="btn btn-sm page-link" type="button" disabled>{{paginationInfo.offset}}</button>
          </li>
          <li class="page-item">
            <button class="btn btn-sm page-link" *ngIf="paginationInfo.hasNext"
                    (click)="getPage(paginationInfo.offset + 1)">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
